default/Azure_Event_Hub_to_Snowflake.json
{"flowContents":{"identifier":"d593ef09-f338-3549-a651-4168a6f8eaa3","instanceIdentifier":"b6ccccfe-019c-1000-0000-000044574d60","name":"Azure Event Hub to Snowflake","comments":"","position":{"x":100.0,"y":100.0},"processGroups":[{"identifier":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6","instanceIdentifier":"b6d68340-019c-1000-ffff-ffffd8c231f1","name":"Evolve Schema","comments":"","position":{"x":320.0,"y":592.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b45035c4-8eb0-3772-8bfc-46b5b8713c5e","instanceIdentifier":"b6d6fd0e-019c-1000-0000-000039604ca0","name":"Update Table Schema","comments":"","position":{"x":200.0,"y":464.0},"type":"com.snowflake.openflow.runtime.processors.snowflake.UpdateSnowflakeDatabase","bundle":{"group":"com.snowflake.openflow.runtime","artifact":"runtime-snowflake-processors-nar","version":"2026.2.26.16"},"properties":{"Table Name":"${table.name:toUpper()}","Table Metadata Cache Expiration Time":"30 sec","Update Type":"Alter Table","Max Batch Size":"1","Include Not Null Constraints":"true","Stream Creation Parameters":null,"Removed Column Name Suffix":null,"Table Stream Creation Parameters":null,"Stream Name":null,"Record Reader":"fb5145b3-9336-39cc-bf41-e676670954a5","Desired Schema":null,"Table Schema Strategy":"Use Record Reader","Schema Name":"#{snowflake.schema}","Include Default Values":"false","Add Column Strategy":"Alter Table","Table Stream Name":null,"Use Table Metadata Cache":"true","Alter Column Type Strategy":"Ignore","Column Removal Strategy":"Ignore Column","Column Name Transformation":"${column.name:toUpper()}","Drop Not Null Strategy":"Alter Table","Add Not Null Strategy":"Ignore","Creation Parameters":null,"Create Stream":"false","Modify Primary Key Strategy":"Ignore","Drop Column Strategy":"Ignore","Connection Pool":"6f533faf-97b5-3001-853c-ebb57094eb96","Include Primary Key Constraints":"true"},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Metadata Cache Expiration Time":{"name":"Table Metadata Cache Expiration Time","displayName":"Table Metadata Cache Expiration Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Type":{"name":"Update Type","displayName":"Update Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Not Null Constraints":{"name":"Include Not Null Constraints","displayName":"Include Not Null Constraints","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stream Creation Parameters":{"name":"Stream Creation Parameters","displayName":"Stream Creation Parameters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Removed Column Name Suffix":{"name":"Removed Column Name Suffix","displayName":"Removed Column Name Suffix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Stream Creation Parameters":{"name":"Table Stream Creation Parameters","displayName":"Table Stream Creation Parameters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stream Name":{"name":"Stream Name","displayName":"Stream Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Desired Schema":{"name":"Desired Schema","displayName":"Desired Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Schema Strategy":{"name":"Table Schema Strategy","displayName":"Table Schema Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Default Values":{"name":"Include Default Values","displayName":"Include Default Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Add Column Strategy":{"name":"Add Column Strategy","displayName":"Add Column Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Stream Name":{"name":"Table Stream Name","displayName":"Table Stream Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Table Metadata Cache":{"name":"Use Table Metadata Cache","displayName":"Use Table Metadata Cache","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Alter Column Type Strategy":{"name":"Alter Column Type Strategy","displayName":"Alter Column Type Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Removal Strategy":{"name":"Column Removal Strategy","displayName":"Column Removal Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Transformation":{"name":"Column Name Transformation","displayName":"Column Name Transformation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Drop Not Null Strategy":{"name":"Drop Not Null Strategy","displayName":"Drop Not Null Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Add Not Null Strategy":{"name":"Add Not Null Strategy","displayName":"Add Not Null Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Creation Parameters":{"name":"Creation Parameters","displayName":"Creation Parameters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Stream":{"name":"Create Stream","displayName":"Create Stream","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Modify Primary Key Strategy":{"name":"Modify Primary Key Strategy","displayName":"Modify Primary Key Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Drop Column Strategy":{"name":"Drop Column Strategy","displayName":"Drop Column Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Pool":{"name":"Connection Pool","displayName":"Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Primary Key Constraints":{"name":"Include Primary Key Constraints","displayName":"Include Primary Key Constraints","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["illegal alteration","object not found","failure"],"scheduledState":"ENABLED","retryCount":9999,"retriedRelationships":["object not found","failure"],"backoffMechanism":"YIELD_PROCESSOR","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6"},{"identifier":"6c23ffe4-ab1c-3243-9bbf-38a469ebb4df","instanceIdentifier":"b6d6f8db-019c-1000-ffff-ffffc885edcc","name":"Is Schema Evolution Enabled","comments":"","position":{"x":200.0,"y":200.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2026.2.26.16"},"properties":{"Routing Strategy":"Route to Property name","schema evolution disabled":"${enable.schema.evolution:replaceNull(\"true\"):equalsIgnoreCase(\"false\")}","schema evolution enabled":"${enable.schema.evolution:replaceNull(\"true\"):equalsIgnoreCase(\"true\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema evolution disabled":{"name":"schema evolution disabled","displayName":"schema evolution disabled","identifiesControllerService":false,"sensitive":false,"dynamic":true},"schema evolution enabled":{"name":"schema evolution enabled","displayName":"schema evolution enabled","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6"},{"identifier":"6fa10e53-9b36-30d1-96c0-99f6bcc5bdab","instanceIdentifier":"b6d6f3fe-019c-1000-ffff-ffffe393bf28","name":"Fetch Snowflake Table Properties","comments":"","position":{"x":176.0,"y":8.0},"type":"com.snowflake.openflow.runtime.processors.snowflake.FetchSnowflakeTableProperties","bundle":{"group":"com.snowflake.openflow.runtime","artifact":"runtime-snowflake-processors-nar","version":"2026.2.26.16"},"properties":{"Use Table Metadata Cache":"true","Table Name":"${table.name:toUpper()}","Table Metadata Cache Expiration Time":"30 sec","Connection Pool":"6f533faf-97b5-3001-853c-ebb57094eb96","enable.schema.evolution":"enable_schema_evolution","Schema Name":"#{snowflake.schema}"},"propertyDescriptors":{"Use Table Metadata Cache":{"name":"Use Table Metadata Cache","displayName":"Use Table Metadata Cache","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Metadata Cache Expiration Time":{"name":"Table Metadata Cache Expiration Time","displayName":"Table Metadata Cache Expiration Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Pool":{"name":"Connection Pool","displayName":"Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"enable.schema.evolution":{"name":"enable.schema.evolution","displayName":"enable.schema.evolution","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":9999,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6"}],"inputPorts":[{"identifier":"badcfc5b-c0e5-3816-a5b7-73a0a61e1889","instanceIdentifier":"b6d68543-019c-1000-0000-0000017e8b18","name":"Input","position":{"x":232.0,"y":-112.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6"}],"outputPorts":[{"identifier":"86c2a543-bc3b-32d2-bb4c-a862dd7414d8","instanceIdentifier":"b6d68724-019c-1000-ffff-ffff802652d0","name":"Output","position":{"x":232.0,"y":864.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6"}],"connections":[{"identifier":"79f51ed3-fad6-358b-9d2f-85d999753c20","instanceIdentifier":"b6d74fa9-019c-1000-0000-000055b190bb","source":{"id":"b45035c4-8eb0-3772-8bfc-46b5b8713c5e","type":"PROCESSOR","groupId":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6","name":"Update Table Schema","comments":"","instanceIdentifier":"b6d6fd0e-019c-1000-0000-000039604ca0"},"destination":{"id":"69fb62bb-37eb-368a-bc26-8beeadef2985","type":"FUNNEL","groupId":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6","name":"Funnel","comments":"","instanceIdentifier":"b6d6fefa-019c-1000-ffff-ffff9bedc34d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6"},{"identifier":"3e5ebd7c-62b4-3b91-a349-9335436b6371","instanceIdentifier":"b6d74c02-019c-1000-0000-0000262b1152","source":{"id":"6fa10e53-9b36-30d1-96c0-99f6bcc5bdab","type":"PROCESSOR","groupId":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6","name":"Fetch Snowflake Table Properties","comments":"","instanceIdentifier":"b6d6f3fe-019c-1000-ffff-ffffe393bf28"},"destination":{"id":"6c23ffe4-ab1c-3243-9bbf-38a469ebb4df","type":"PROCESSOR","groupId":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6","name":"Is Schema Evolution Enabled","comments":"","instanceIdentifier":"b6d6f8db-019c-1000-ffff-ffffc885edcc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["table not found","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6"},{"identifier":"dc8b1a09-7ee5-3448-9f39-c99527b28bdc","instanceIdentifier":"b6d7535d-019c-1000-0000-00006d5925e6","source":{"id":"69fb62bb-37eb-368a-bc26-8beeadef2985","type":"FUNNEL","groupId":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6","name":"Funnel","comments":"","instanceIdentifier":"b6d6fefa-019c-1000-ffff-ffff9bedc34d"},"destination":{"id":"86c2a543-bc3b-32d2-bb4c-a862dd7414d8","type":"OUTPUT_PORT","groupId":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6","name":"Output","instanceIdentifier":"b6d68724-019c-1000-ffff-ffff802652d0"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6"},{"identifier":"ef7caf9e-e518-35e0-a7f3-6769138e770e","instanceIdentifier":"b6db0aef-019c-1000-ffff-ffffe2daff8d","name":"Retry on Failure","source":{"id":"6fa10e53-9b36-30d1-96c0-99f6bcc5bdab","type":"PROCESSOR","groupId":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6","name":"Fetch Snowflake Table Properties","comments":"","instanceIdentifier":"b6d6f3fe-019c-1000-ffff-ffffe393bf28"},"destination":{"id":"6fa10e53-9b36-30d1-96c0-99f6bcc5bdab","type":"PROCESSOR","groupId":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6","name":"Fetch Snowflake Table Properties","comments":"","instanceIdentifier":"b6d6f3fe-019c-1000-ffff-ffffe393bf28"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":645.0,"y":71.0},{"x":645.0,"y":121.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6"},{"identifier":"1abd83c8-a183-350a-be65-752ab0eb24f3","instanceIdentifier":"b6d74dc9-019c-1000-ffff-ffffe058595a","source":{"id":"6c23ffe4-ab1c-3243-9bbf-38a469ebb4df","type":"PROCESSOR","groupId":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6","name":"Is Schema Evolution Enabled","comments":"","instanceIdentifier":"b6d6f8db-019c-1000-ffff-ffffc885edcc"},"destination":{"id":"b45035c4-8eb0-3772-8bfc-46b5b8713c5e","type":"PROCESSOR","groupId":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6","name":"Update Table Schema","comments":"","instanceIdentifier":"b6d6fd0e-019c-1000-0000-000039604ca0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["schema evolution enabled"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6"},{"identifier":"59054757-e692-3151-9d35-f3cfdd410400","instanceIdentifier":"b6d74a01-019c-1000-0000-000007acbaa6","source":{"id":"badcfc5b-c0e5-3816-a5b7-73a0a61e1889","type":"INPUT_PORT","groupId":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6","name":"Input","instanceIdentifier":"b6d68543-019c-1000-0000-0000017e8b18"},"destination":{"id":"6fa10e53-9b36-30d1-96c0-99f6bcc5bdab","type":"PROCESSOR","groupId":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6","name":"Fetch Snowflake Table Properties","comments":"","instanceIdentifier":"b6d6f3fe-019c-1000-ffff-ffffe393bf28"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6"},{"identifier":"36a114ff-a1f7-3ea9-b092-5af9333a10ba","instanceIdentifier":"b6d7517b-019c-1000-ffff-ffffbc5b711d","source":{"id":"6c23ffe4-ab1c-3243-9bbf-38a469ebb4df","type":"PROCESSOR","groupId":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6","name":"Is Schema Evolution Enabled","comments":"","instanceIdentifier":"b6d6f8db-019c-1000-ffff-ffffc885edcc"},"destination":{"id":"69fb62bb-37eb-368a-bc26-8beeadef2985","type":"FUNNEL","groupId":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6","name":"Funnel","comments":"","instanceIdentifier":"b6d6fefa-019c-1000-ffff-ffff9bedc34d"},"labelIndex":1,"zIndex":0,"selectedRelationships":["schema evolution disabled"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-100.0,"y":250.0},{"x":-100.0,"y":500.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6"},{"identifier":"f3cbce24-3b1c-30e4-b804-43bc5b2f9d6f","instanceIdentifier":"b6dc2f33-019c-1000-0000-000049edf98b","name":"Retry on Failure","source":{"id":"6fa10e53-9b36-30d1-96c0-99f6bcc5bdab","type":"PROCESSOR","groupId":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6","name":"Fetch Snowflake Table Properties","comments":"","instanceIdentifier":"b6d6f3fe-019c-1000-ffff-ffffe393bf28"},"destination":{"id":"6fa10e53-9b36-30d1-96c0-99f6bcc5bdab","type":"PROCESSOR","groupId":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6","name":"Fetch Snowflake Table Properties","comments":"","instanceIdentifier":"b6d6f3fe-019c-1000-ffff-ffffe393bf28"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6"}],"labels":[],"funnels":[{"identifier":"69fb62bb-37eb-368a-bc26-8beeadef2985","instanceIdentifier":"b6d6fefa-019c-1000-ffff-ffff9bedc34d","position":{"x":320.0,"y":720.0},"componentType":"FUNNEL","groupIdentifier":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6"}],"controllerServices":[],"parameterContextName":"Azure Event Hub to Snowflake Parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP","groupIdentifier":"d593ef09-f338-3549-a651-4168a6f8eaa3"}],"remoteProcessGroups":[],"processors":[{"identifier":"b5ffeef6-0539-370d-9bb8-0c1e6bff3273","instanceIdentifier":"e76b23bf-28c8-3712-906c-bf368f7107d6","name":"Map Hub Name to Table","comments":"","position":{"x":320.0,"y":200.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2026.2.26.16"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","table.name":"${eventhub.name:replaceByPattern(#{eventhub.toTableMap})}","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table.name":{"name":"table.name","displayName":"table.name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d593ef09-f338-3549-a651-4168a6f8eaa3"},{"identifier":"692550ce-775f-327e-ab8f-368e7a47b70a","instanceIdentifier":"52b74c3d-d096-3f04-97ef-436619d28bfb","name":"Write to Snowflake (SSv2)","comments":"","position":{"x":352.0,"y":904.0},"type":"com.snowflake.openflow.runtime.processors.snowpipe.PutSnowpipeStreaming","bundle":{"group":"com.snowflake.openflow.runtime","artifact":"runtime-snowpipe-processors-nar","version":"2026.2.26.16"},"properties":{"Account":null,"User":null,"Table":"${table.name:toUpper()}","Concurrency Group":null,"Max Batch Size":"10000","Schema":"#{snowflake.schema}","Max Tasks Per Group":"1","Record Offset":null,"Record Reader":"fb5145b3-9336-39cc-bf41-e676670954a5","Iceberg Enabled":"false","Snowpipe Channel Index":null,"Private Key Service":null,"Connection Strategy":"STANDARD","Role":"#{snowflake.role}","Record Offset Strategy":null,"Snowpipe Channel Prefix":"${hostname(false)}.${eventhub.name}.${eventhub.partition}","Client Lag":"30 sec","Authentication Strategy":"SNOWFLAKE_SESSION_TOKEN","Delivery Guarantee":"At least once","Binary Encoding Format":"BASE64","Record Offset Record Path":null,"Database":"#{snowflake.database}"},"propertyDescriptors":{"Account":{"name":"Account","displayName":"Account","identifiesControllerService":false,"sensitive":false,"dynamic":false},"User":{"name":"User","displayName":"User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table":{"name":"Table","displayName":"Table","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Concurrency Group":{"name":"Concurrency Group","displayName":"Concurrency Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema":{"name":"Schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Tasks Per Group":{"name":"Max Tasks Per Group","displayName":"Max Tasks Per Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset":{"name":"Record Offset","displayName":"Record Offset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Iceberg Enabled":{"name":"Iceberg Enabled","displayName":"Iceberg Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Snowpipe Channel Index":{"name":"Snowpipe Channel Index","displayName":"Snowpipe Channel Index","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Service":{"name":"Private Key Service","displayName":"Private Key Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Connection Strategy":{"name":"Connection Strategy","displayName":"Connection Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Role":{"name":"Role","displayName":"Role","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset Strategy":{"name":"Record Offset Strategy","displayName":"Record Offset Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Snowpipe Channel Prefix":{"name":"Snowpipe Channel Prefix","displayName":"Snowpipe Channel Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Lag":{"name":"Client Lag","displayName":"Client Lag","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authentication Strategy":{"name":"Authentication Strategy","displayName":"Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delivery Guarantee":{"name":"Delivery Guarantee","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Binary Encoding Format":{"name":"Binary Encoding Format","displayName":"Binary Encoding Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Offset Record Path":{"name":"Record Offset Record Path","displayName":"Record Offset Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database":{"name":"Database","displayName":"Database","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d593ef09-f338-3549-a651-4168a6f8eaa3"},{"identifier":"9d8a0e59-8717-3ef9-afb2-2e4d022d0946","instanceIdentifier":"37db21da-d0f9-3c26-94c7-a2b4a7f2a63f","name":"Consume Azure Event Hub","comments":"","position":{"x":296.0,"y":-8.0},"type":"org.apache.nifi.processors.azure.eventhub.ConsumeAzureEventHub","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"2026.2.26.16"},"properties":{"Storage Access Token Provider":null,"Consumer Group":"#{eventhub.consumer.group}","Storage Container Name":"#{eventhub.storage.container}","Service Bus Endpoint":".servicebus.windows.net","Shared Access Policy Name":"#{eventhub.sas.policy.name}","Storage Identity Federation Token Provider":null,"Event Hubs Access Token Provider":null,"Event Hubs Identity Federation Token Provider":null,"Record Reader":"fb5145b3-9336-39cc-bf41-e676670954a5","Storage Account Key":"#{eventhub.storage.account.key}","Proxy Configuration Service":null,"Event Hub Name":"#{eventhub.name}","Blob Storage Authentication Strategy":"STORAGE_ACCOUNT_KEY","Authentication Strategy":"SHARED_ACCESS_SIGNATURE","Prefetch Count":"300","Storage Account Name":"#{eventhub.storage.account.name}","Event Hub Namespace":"#{eventhub.namespace}","Transport Type":"Amqp","Initial Offset":"start-of-stream","Batch Size":"10","Record Writer":"d2dcb249-15f0-3f36-bf76-dc97b2fd11cb","Shared Access Policy Key":"#{eventhub.sas.policy.key}","Message Receive Timeout":"1 min","Checkpoint Strategy":"COMPONENT_STATE"},"propertyDescriptors":{"Storage Access Token Provider":{"name":"Storage Access Token Provider","displayName":"Storage Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Shared Access Policy Name":{"name":"Shared Access Policy Name","displayName":"Shared Access Policy Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Storage Account Key":{"name":"Storage Account Key","displayName":"Storage Account Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Proxy Configuration Service":{"name":"Proxy Configuration Service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Authentication Strategy":{"name":"Authentication Strategy","displayName":"Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Prefetch Count":{"name":"Prefetch Count","displayName":"Prefetch Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Account Name":{"name":"Storage Account Name","displayName":"Storage Account Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Event Hub Namespace":{"name":"Event Hub Namespace","displayName":"Event Hub Namespace","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Initial Offset":{"name":"Initial Offset","displayName":"Initial Offset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Shared Access Policy Key":{"name":"Shared Access Policy Key","displayName":"Shared Access Policy Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Consumer Group":{"name":"Consumer Group","displayName":"Consumer Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Container Name":{"name":"Storage Container Name","displayName":"Storage Container Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Service Bus Endpoint":{"name":"Service Bus Endpoint","displayName":"Service Bus Endpoint","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage Identity Federation Token Provider":{"name":"Storage Identity Federation Token Provider","displayName":"Storage Identity Federation Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Event Hubs Access Token Provider":{"name":"Event Hubs Access Token Provider","displayName":"Event Hubs Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Event Hubs Identity Federation Token Provider":{"name":"Event Hubs Identity Federation Token Provider","displayName":"Event Hubs Identity Federation Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Event Hub Name":{"name":"Event Hub Name","displayName":"Event Hub Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Blob Storage Authentication Strategy":{"name":"Blob Storage Authentication Strategy","displayName":"Blob Storage Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Storage SAS Token":{"name":"Storage SAS Token","displayName":"Storage SAS Token","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Transport Type":{"name":"Transport Type","displayName":"Transport Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Receive Timeout":{"name":"Message Receive Timeout","displayName":"Message Receive Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Checkpoint Strategy":{"name":"Checkpoint Strategy","displayName":"Checkpoint Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["parse.failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d593ef09-f338-3549-a651-4168a6f8eaa3"},{"identifier":"bc2bffc6-271b-3906-a3b4-db2855038432","instanceIdentifier":"b6f81513-019c-1000-0000-0000510a6d62","name":"Create Table If Not Exists","comments":"","position":{"x":320.0,"y":392.0},"type":"com.snowflake.openflow.runtime.processors.snowflake.UpdateSnowflakeDatabase","bundle":{"group":"com.snowflake.openflow.runtime","artifact":"runtime-snowflake-processors-nar","version":"2026.2.26.16"},"properties":{"Table Name":"${table.name:toUpper()}","Table Metadata Cache Expiration Time":"30 sec","Update Type":"Create Table If Not Exists","Max Batch Size":"1","Include Not Null Constraints":"true","Stream Creation Parameters":null,"Removed Column Name Suffix":null,"Table Stream Creation Parameters":null,"Stream Name":null,"Record Reader":"fb5145b3-9336-39cc-bf41-e676670954a5","Desired Schema":null,"Table Schema Strategy":"Use Record Reader","Schema Name":"#{snowflake.schema}","Include Default Values":"false","Add Column Strategy":"Alter Table","Table Stream Name":null,"Use Table Metadata Cache":"false","Alter Column Type Strategy":"Fail","Column Removal Strategy":"Drop Column","Column Name Transformation":"${column.name:toUpper()}","Drop Not Null Strategy":"Alter Table","Add Not Null Strategy":"Alter Table","Creation Parameters":"ENABLE_SCHEMA_EVOLUTION = TRUE","Create Stream":"false","Modify Primary Key Strategy":"Alter Table","Drop Column Strategy":"Alter Table","Connection Pool":"6f533faf-97b5-3001-853c-ebb57094eb96","Include Primary Key Constraints":"true"},"propertyDescriptors":{"Table Name":{"name":"Table Name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Metadata Cache Expiration Time":{"name":"Table Metadata Cache Expiration Time","displayName":"Table Metadata Cache Expiration Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Update Type":{"name":"Update Type","displayName":"Update Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Batch Size":{"name":"Max Batch Size","displayName":"Max Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Not Null Constraints":{"name":"Include Not Null Constraints","displayName":"Include Not Null Constraints","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stream Creation Parameters":{"name":"Stream Creation Parameters","displayName":"Stream Creation Parameters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Removed Column Name Suffix":{"name":"Removed Column Name Suffix","displayName":"Removed Column Name Suffix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Stream Creation Parameters":{"name":"Table Stream Creation Parameters","displayName":"Table Stream Creation Parameters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stream Name":{"name":"Stream Name","displayName":"Stream Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Desired Schema":{"name":"Desired Schema","displayName":"Desired Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Schema Strategy":{"name":"Table Schema Strategy","displayName":"Table Schema Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Include Default Values":{"name":"Include Default Values","displayName":"Include Default Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Add Column Strategy":{"name":"Add Column Strategy","displayName":"Add Column Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Table Stream Name":{"name":"Table Stream Name","displayName":"Table Stream Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Table Metadata Cache":{"name":"Use Table Metadata Cache","displayName":"Use Table Metadata Cache","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Alter Column Type Strategy":{"name":"Alter Column Type Strategy","displayName":"Alter Column Type Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Removal Strategy":{"name":"Column Removal Strategy","displayName":"Column Removal Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Transformation":{"name":"Column Name Transformation","displayName":"Column Name Transformation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Drop Not Null Strategy":{"name":"Drop Not Null Strategy","displayName":"Drop Not Null Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Add Not Null Strategy":{"name":"Add Not Null Strategy","displayName":"Add Not Null Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Creation Parameters":{"name":"Creation Parameters","displayName":"Creation Parameters","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Stream":{"name":"Create Stream","displayName":"Create Stream","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Modify Primary Key Strategy":{"name":"Modify Primary Key Strategy","displayName":"Modify Primary Key Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Drop Column Strategy":{"name":"Drop Column Strategy","displayName":"Drop Column Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Pool":{"name":"Connection Pool","displayName":"Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Include Primary Key Constraints":{"name":"Include Primary Key Constraints","displayName":"Include Primary Key Constraints","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d593ef09-f338-3549-a651-4168a6f8eaa3"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"d2ac0f9f-5dad-35d4-82cd-34c8a34e61bb","instanceIdentifier":"b6f93285-019c-1000-ffff-ffffc295a6c2","source":{"id":"bc2bffc6-271b-3906-a3b4-db2855038432","type":"PROCESSOR","groupId":"d593ef09-f338-3549-a651-4168a6f8eaa3","name":"Create Table If Not Exists","comments":"","instanceIdentifier":"b6f81513-019c-1000-0000-0000510a6d62"},"destination":{"id":"badcfc5b-c0e5-3816-a5b7-73a0a61e1889","type":"INPUT_PORT","groupId":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6","name":"Input","instanceIdentifier":"b6d68543-019c-1000-0000-0000017e8b18"},"labelIndex":1,"zIndex":0,"selectedRelationships":["object exists","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d593ef09-f338-3549-a651-4168a6f8eaa3"},{"identifier":"8255323f-ca00-33d8-b7a9-33935e8a25a8","instanceIdentifier":"21ef245e-f261-3714-91e2-881b00c78798","name":"To Attribute Mapper","source":{"id":"9d8a0e59-8717-3ef9-afb2-2e4d022d0946","type":"PROCESSOR","groupId":"d593ef09-f338-3549-a651-4168a6f8eaa3","name":"Consume Azure Event Hub","comments":"","instanceIdentifier":"37db21da-d0f9-3c26-94c7-a2b4a7f2a63f"},"destination":{"id":"b5ffeef6-0539-370d-9bb8-0c1e6bff3273","type":"PROCESSOR","groupId":"d593ef09-f338-3549-a651-4168a6f8eaa3","name":"Map Hub Name to Table","comments":"","instanceIdentifier":"e76b23bf-28c8-3712-906c-bf368f7107d6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d593ef09-f338-3549-a651-4168a6f8eaa3"},{"identifier":"b599a663-2935-31c9-84bf-ba67f4f3e269","instanceIdentifier":"b6f930c7-019c-1000-ffff-ffffed508283","source":{"id":"b5ffeef6-0539-370d-9bb8-0c1e6bff3273","type":"PROCESSOR","groupId":"d593ef09-f338-3549-a651-4168a6f8eaa3","name":"Map Hub Name to Table","comments":"","instanceIdentifier":"e76b23bf-28c8-3712-906c-bf368f7107d6"},"destination":{"id":"bc2bffc6-271b-3906-a3b4-db2855038432","type":"PROCESSOR","groupId":"d593ef09-f338-3549-a651-4168a6f8eaa3","name":"Create Table If Not Exists","comments":"","instanceIdentifier":"b6f81513-019c-1000-0000-0000510a6d62"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d593ef09-f338-3549-a651-4168a6f8eaa3"},{"identifier":"ddd5724b-a623-30cb-ba00-8a5a8acd4b53","instanceIdentifier":"b6f84a30-019c-1000-ffff-ffff875aa835","source":{"id":"b5ffeef6-0539-370d-9bb8-0c1e6bff3273","type":"PROCESSOR","groupId":"d593ef09-f338-3549-a651-4168a6f8eaa3","name":"Map Hub Name to Table","comments":"","instanceIdentifier":"e76b23bf-28c8-3712-906c-bf368f7107d6"},"destination":{"id":"bc2bffc6-271b-3906-a3b4-db2855038432","type":"PROCESSOR","groupId":"d593ef09-f338-3549-a651-4168a6f8eaa3","name":"Create Table If Not Exists","comments":"","instanceIdentifier":"b6f81513-019c-1000-0000-0000510a6d62"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d593ef09-f338-3549-a651-4168a6f8eaa3"},{"identifier":"7b09bef1-fad3-378e-a426-2b130661fbbc","instanceIdentifier":"b6d7f705-019c-1000-ffff-ffffc5512da5","name":"From Evolve Schema","source":{"id":"86c2a543-bc3b-32d2-bb4c-a862dd7414d8","type":"OUTPUT_PORT","groupId":"76e4d5f3-4eea-32dd-bcb2-68cd6885e2d6","name":"Output","instanceIdentifier":"b6d68724-019c-1000-ffff-ffff802652d0"},"destination":{"id":"692550ce-775f-327e-ab8f-368e7a47b70a","type":"PROCESSOR","groupId":"d593ef09-f338-3549-a651-4168a6f8eaa3","name":"Write to Snowflake (SSv2)","comments":"","instanceIdentifier":"52b74c3d-d096-3f04-97ef-436619d28bfb"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d593ef09-f338-3549-a651-4168a6f8eaa3"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"d2dcb249-15f0-3f36-bf76-dc97b2fd11cb","instanceIdentifier":"dd12fe6e-e39f-334c-8f1d-9feaaa426327","name":"JSON Writer","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2026.2.26.16"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Allow Scientific Notation":"false","Compression Level":"1","Output Grouping":"output-array","Schema Registry":null,"Schema Access Strategy":"inherit-record-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","Suppress Null Values":"never-suppress","Schema Write Strategy":"no-schema","Compression Format":"none","Schema Cache":null,"Schema Version":null,"Time Format":null,"Schema Reference Writer":null},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Grouping":{"name":"Output Grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Suppress Null Values":{"name":"Suppress Null Values","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Cache":{"name":"Schema Cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2026.2.26.15"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d593ef09-f338-3549-a651-4168a6f8eaa3"},{"identifier":"6f533faf-97b5-3001-853c-ebb57094eb96","instanceIdentifier":"799355f2-b136-3840-aa82-bd3f15842083","name":"Snowflake Connection","comments":"","type":"com.snowflake.openflow.runtime.services.snowflake.SnowflakeConnectionService","bundle":{"group":"com.snowflake.openflow.runtime","artifact":"runtime-snowflake-connection-service-nar","version":"2026.2.26.16"},"properties":{"Account":null,"Warehouse":null,"User":null,"Maximum Connections":"10","Maximum Lifetime":"30 minutes","Schema":"#{snowflake.schema}","Private Key Service":null,"Connection Strategy":"STANDARD","Connection Timeout":"30 seconds","Role":"#{snowflake.role}","Idle Timeout":"10 minutes","Authentication Strategy":"SNOWFLAKE_SESSION_TOKEN","Database Name":"#{snowflake.database}","Network Timeout":"5 minutes"},"propertyDescriptors":{"Account":{"name":"Account","displayName":"Account","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Warehouse":{"name":"Warehouse","displayName":"Warehouse","identifiesControllerService":false,"sensitive":false,"dynamic":false},"User":{"name":"User","displayName":"User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Connections":{"name":"Maximum Connections","displayName":"Maximum Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Lifetime":{"name":"Maximum Lifetime","displayName":"Maximum Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema":{"name":"Schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Private Key Service":{"name":"Private Key Service","displayName":"Private Key Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Connection Strategy":{"name":"Connection Strategy","displayName":"Connection Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Role":{"name":"Role","displayName":"Role","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Idle Timeout":{"name":"Idle Timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Authentication Strategy":{"name":"Authentication Strategy","displayName":"Authentication Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Name":{"name":"Database Name","displayName":"Database Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Network Timeout":{"name":"Network Timeout","displayName":"Network Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2026.2.26.15"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d593ef09-f338-3549-a651-4168a6f8eaa3"},{"identifier":"fb5145b3-9336-39cc-bf41-e676670954a5","instanceIdentifier":"37e3381f-1eda-37af-b770-213b7af0a473","name":"JSON Reader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2026.2.26.16"},"properties":{"Schema Branch":null,"Schema Reference Reader":null,"Schema Text":"${avro.schema}","Starting Field Name":null,"Max String Length":"20 MB","Schema Inference Cache":null,"Starting Field Strategy":"ROOT_NODE","Schema Registry":null,"Schema Access Strategy":"infer-schema","Schema Name":"${schema.name}","Timestamp Format":null,"Date Format":null,"Schema Application Strategy":"SELECTED_PART","Schema Version":null,"Time Format":null,"Allow Comments":"false"},"propertyDescriptors":{"Schema Branch":{"name":"Schema Branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Reader":{"name":"Schema Reference Reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Text":{"name":"Schema Text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Starting Field Name":{"name":"Starting Field Name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Inference Cache":{"name":"Schema Inference Cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Starting Field Strategy":{"name":"Starting Field Strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Registry":{"name":"Schema Registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Application Strategy":{"name":"Schema Application Strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Version":{"name":"Schema Version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2026.2.26.15"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d593ef09-f338-3549-a651-4168a6f8eaa3"}],"parameterContextName":"Azure Event Hub to Snowflake Parameters","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"Azure Event Hub to Snowflake Parameters":{"name":"Azure Event Hub to Snowflake Parameters","parameters":[{"name":"eventhub.toTableMap","description":"","sensitive":false,"provided":false,"value":"{\"centerpoint\": \"CENTERPOINT\"}"},{"name":"eventhub.storage.account.name","description":"Azure Storage account for checkpointing","sensitive":false,"provided":false,"value":"jbennetteventhubchkpt"},{"name":"eventhub.sas.policy.name","description":"Shared Access Policy name","sensitive":false,"provided":false,"value":"energy-event-consumer"},{"name":"eventhub.storage.account.key","description":"Azure Storage account key","sensitive":true,"provided":false},{"name":"snowflake.database","description":"Target Snowflake database","sensitive":false,"provided":false,"value":"CENTERPOINT"},{"name":"eventhub.sas.policy.key","description":"Shared Access Policy key","sensitive":true,"provided":false},{"name":"snowflake.schema","description":"Target Snowflake schema","sensitive":false,"provided":false,"value":"EVENTHUB"},{"name":"table.name","description":"","sensitive":false,"provided":false,"value":"${eventhub.name:replaceByPattern(#{'eventhub.toTableMap'})}"},{"name":"eventhub.name","description":"Event Hub name","sensitive":false,"provided":false,"value":"centerpoint"},{"name":"eventhub.consumer.group","description":"Consumer group","sensitive":false,"provided":false,"value":"energy-event-processor"},{"name":"eventhub.storage.container","description":"Storage container for checkpoints","sensitive":false,"provided":false,"value":"eventhub-checkpoints"},{"name":"snowflake.role","description":"Snowflake role for SSv2 streaming","sensitive":false,"provided":false,"value":"OPENFLOW_ADMIN"},{"name":"eventhub.namespace","description":"Azure Event Hub namespace","sensitive":false,"provided":false,"value":"jbennett-eventhubs"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}